## Bash up arrow search completion
## http://askubuntu.com/questions/59846/bash-history-search-partial-up-arrow
## arrow up
"\e[A":history-search-backward
## arrow down
"\e[B":history-search-forward

# bash vim command mode search completion
# http://vim.wikia.com/wiki/Use_vi_shortcuts_in_terminal
set keymap vi-command
"j": history-search-forward
"k": history-search-backward
